/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html {
    background: url("../images/IMG_1752.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
}



.font-bold {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}
